@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

.screen .end {
  width: 100.00vw;
  height: 47.78vw;
  position: relative;
  top: -4.86vw;
  background-image: url("../images/end/background/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.end_title {
  position: relative;
  top: 4.44vw;
  font-family: "Caveat", Helvetica;
  color: #94515E;
  font-size: 2.43vw;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
}

.workers {
  position: absolute;
  width: 78.19vw;
  left: 10.56vw;
  top: 9.86vw;
  display: flex;
  flex-direction: row;
  gap: 3.47vw;
}

.worker {
  position: relative;
  text-align: center;
  width: 15.62vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.74vw;
}

.ava {
  position: relative;
  width: 65%;
}

.about_worker {
  position: relative;
  width: auto;
  font-family: "Comfortaa", Helvetica;
  color: black;
  font-size: 0.90vw;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
}

.nice_image {
  position: absolute;
  top: 23.33vw;
  left: 19.24vw;
  width: 22.64vw;
  height: auto;
}

.contact{
  position: absolute;
  top: 26.88vw;
  left: 50.69vw;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.69vw;
}

.contact_title,
.reverse_form_title {
  position: relative;
  width: auto;
  font-family: "Caveat", Helvetica;
  color: #94515E;
  font-size: 2.08vw;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
}

.contact_buttons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.04vw;
}

.contact_button {
  width: 3.13vw;
}

.reverse_form {
  position: absolute;
  top: 26.88vw;
  left: 71.74vw;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.04vw;
}

.reverse_form_button {
  position: relative; 
  width: 7.01vw;
}

.letter,
.contact_button_image {
  width: 100%;
}
