@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

.screen {
  width: 100vw;
}

.screen .head {
  position: relative;
  height: 88.33vw;
  width: 100.00vw;
  background-image: url("../images/head/background/head_background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.screen .head .main_headline {
  width: 39.93vw;
  height: 9.24vw;
  top: 3vw;
  left: 30.07vw;
  font-family: "Caveat", Helvetica;
  color: #94515e;
  font-size: 4.86vw;
  text-align: center;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.screen .head .main_headline .separator {
  font-family: "Comfortaa", sans-serif;
}

.navigation {
  position: absolute;
  top: 2vw;
  left: 85.14vw;
  transform: rotate(1.15deg);
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.04vw;
}

.nav_button {
  position: relative;
  padding: 0;
  border: none;
  cursor: pointer;
  font-family: "Caveat", Helvetica;
  color: #000000;
  background: rgba(0,0,0,0);
  font-size: 1.88vw;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.screen .head .first_information {
  width: 25.42vw;
  top: 17vw;
  left: 9.17vw;
  font-family: "Comfortaa", Helvetica;
  color: #000000;
  font-size: 1.11vw;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.gallery-container {
  position: relative;
  max-width: 55.56vw;
  margin: 0 auto;
}

.gallery {
  position: absolute;
  width: 28.19vw;
  height: 30.97vw;
  top: 32.15vw;
  left: 13.75vw;
}

.gallery img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.gallery img.active {
  opacity: 1;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 46.18vw;
  transform: translateY(-50%);
  background: rgba(0,0,0,0);
  color: rgba(0, 0, 0, 0);
  padding: 1.11vw;
  border: none;
  cursor: pointer;
  font-size: 1.67vw;
}

.prev-btn { left: 9.38vw; }
.next-btn { left: 43.06vw; }

.screen .head .basic_information {
  position: absolute;
  width: 42.50vw;
  top: 34.93vw;
  left: 51.18vw;
  font-family: "Comfortaa", Helvetica;
  color: #000000;
  font-weight: 400;
  font-size: 1.25vw;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.screen .head .basic_information .name_in_basic_text {
  font-weight: 550;
  font-size: 1.39vw;
  font-family: "Comfortaa", sans-serif;
}

.screen .head .end_head_text {
  position: absolute;
  width: 88.06vw;
  top: 69.93vw;
  left: 5.97vw;
  text-align: justify;
  font-family: "Comfortaa", Helvetica;
  color: #000000;
  font-size: 1.25vw;
  font-weight: 400;
  letter-spacing: 0;
}

.screen .head .ellipse {
  position: absolute;
  width: 48.19vw;
  height: 46.39vw;
  top: 24.44vw;
  left: 0;
  background-color: #eeabb7d1;
  border-radius: 24.10vw/23.19vw;
  filter: blur(4.17vw);
}

.screen .head .arrow {
  position: absolute;
  width: 4.72vw;
  height: 19.03vw;
  top: 19.44vw;
  left: 0.90vw;
  background-image: url("../images/head/background/arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.screen .head .for_main_image{
  position: absolute;
  width: 37.29vw;
  height: 35.83vw;
  top: 30.35vw;
  left: 8.96vw;
}
